:root {
  --tema-claro-1: #f0f3f4;
  --tema-claro-2: #d5deef;
  --tema-claro-3: #b1c9ef;
  --tema-claro-4: #8aaee0;
  --tema-claro-5: #638ecb;
  --tema-claro-6: hsl(216, 40%, 37%);
  --tema-claro-7: hsl(216, 40%, 17%);
  --tema-claro-red: #DF5858;

  --bg-color-2: rgba(213, 222, 239, 0.3);
  --bg-color-3: rgba(177, 201, 239, 0.7);
  --bg-color-4: rgba(138, 174, 224, 0.4);
}
