:root {
  --tema-claro-1: #f0f3f4;
  --tema-claro-2: #d5deef;
  --tema-claro-3: #b1c9ef;
  --tema-claro-4: #8aaee0;
  --tema-claro-5: #638ecb;
  --tema-claro-6: #395886;
  --tema-claro-red: #DF5858;

  --bg-color-2: rgba(213, 222, 239, 0.7);
  --bg-color-3: rgba(177, 201, 239, 0.7);
}
