.cards-members {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: min(100vh - 8rem);
  background-color: var(--tema-claro-3);
  padding: 4rem;
  gap: 4rem;
}

.cards-members__girls {
  text-align: center;
}

.cards-members__girls--card {
  letter-spacing: 2px;
  background-color: var(--tema-claro-1);
  width: 40rem;
  height: 60rem;
  padding: 3rem;
  border-radius: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 4em;

  .card-img {
    img {
      width: 15rem;
      border-radius: 999px;
      aspect-ratio: 1;
      border: 6px solid var(--tema-claro-red);
      transition: 0.3s ease;
      &:hover {
        transform: scale(1.06);
        transition: 0.3s ease;
      }
    }
  }

  .member-name.toggle-title select {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: var(--tema-claro-6);
    font-size: 1.5em;
    border: none;
    background-color: transparent;
  }

  .card-age {
    cursor: default;
    color: var(--tema-claro-5);
    font-size: 0.8em;
  }
  .card-birth {
    cursor: default;
    color: var(--tema-claro-red);
    font-size: 0.5em;
  }
  .card-tag {
    cursor: default;
    color: var(--tema-claro-6);
    font-size: 1em;
  }

  .card-btn {
    .learn-more-members {
      background-color: var(--tema-claro-5);
      border: none;
      border-radius: 2rem;
      padding: 1.5rem 2rem;
      cursor: pointer;
      height: 4rem;
      width: 20rem;
      font-size: 0.5em;
      letter-spacing: 2px;
      color: var(--tema-claro-1);
      transition: 0.3s ease;
      &:hover {
        transform: scale(1.2);
        background-color: var(--tema-claro-6);
        transition: 0.3s ease;
        letter-spacing: 5px;
      }
    }
  }
}
